body {
    background-color: #242323
}

/* HIDE HORIZONTAL SCROLL BAR */

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* HEADER */

.custom-toggler.navbar-toggler { 
    border-color: black; }

.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
  }



.title-main {
    left: 35%;
    position: absolute;
    top: 40%;
    transform: translate(-50%, -55%);
    text-align: center;
}

.title-main h1 {
    color: white;
    font-size: 60px;
    text-align: left;
}

.title-main h2 {
    color: #fff;
    font-size: 40px;
    line-height: 1.5;
    text-align: left;
}

.title-main p {
    color: white;
    text-align: left;
    font-size: 20px;
}

body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
  }

  /* NAVBAR*/

.navbar {
    background:white;
  }
  
.nav-link,
.navbar-brand {
    color: black;
    cursor: pointer;
  }
  
.nav-link {
    margin-right: 1em;
  }
  
.nav-link:hover {
    color: #88282C;
    font-weight: bold;
    border-top: 2px solid #88282C;
  }
  
.navbar-collapse {
    justify-content: flex-end;
  }

/* MISSION STATEMENT */
.mission {
    background-image: url("images/mission-statement.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    color: white;
    text-align: center;
}

.mission p{
    font-size: 22px;
}

.mission-2 {
    color: black;
    text-align: center;
}

.mission-2 p{
    font-size: 22px;
}

.mission-statement {
    color: black;
    text-align: center;
}

.mission-statement p{
    font-size: 22px;
}

/* ESTABLISHED IN */

.est {
    color: black;
    text-align: center;
    font-size: 22px;
}

/* ABOUT US */

.about-us {
    background: #242323;
    padding: 0px;
}

.about-us p{
    color:white;
    font-size: 22px;
    padding-top: 0px;
    margin: 30px;
}

.about-us li{
    color:white;
    font-size: 22px;
    margin-left: 30px;
}

/* SMOOTH SAILING */

.excellence{
    color: white;
    text-align: center;
    background-image: url("images/sea.jpg");
    background-size: cover;
}

.excellence h1{
    padding: 100px;
}

/* STRENGTHS */
.strengths {
    background: #242323;
    padding: 0px;
}

.strengths p{
    color:white;
    font-size: 22px;
    padding-top: 0px;
    margin: 30px;
}

.strengths h1{
    color: white;
    padding-left: 30px;
    padding-top: 10px;
}

.warehouse {
    background-image: url(images/warehouse-logistics.jpg);
    height: 25%;
    width: auto;
    background-size: cover;
    font-size: 18px;
}

/* WHAT WE DO */
/* PROVISIONS */

.prov {
    background-image: url(images/provisions.jpg);
    height: 25%;
    width: auto;
    background-size: cover;
    background-position:center;
    background-repeat:no-repeat;
    font-size: 18px;
}

.text {
    color:black;
    background-color: white;    
}

.tech {
    background-image: url(images/wrenches.jpg);
    height: 25%;
    width: auto;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    font-size: 18px;
}

.provisions{
    background-image: url(images/provisions-bond.png);
    height: 369px;
}

.provisions h6{
    margin-bottom: 2px;
    margin-top: 24px;
    font-size: 20px;
    padding-left: 20px;
    color: #2F2E2E;
}

.provisions p{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

.provisions h1{
    padding-top: 0px;
    padding-left: 20px;
    font-size: 1.8em;
    color: #2F2E2E;
}

/* DECK ENGINE */

.deck-engine{
    background-color: white;
    height: 369px;
    background-size: cover;
    padding-bottom: 0px;
}

.deck-engine h6{
    margin-bottom: 2px;
    margin-top: 24px;
    font-size: 20px;
    padding-left: 20px;
    color: #2F2E2E;
}

.deck-engine p{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

.deck-engine h1{
    padding-top: 0px;
    padding-left: 20px;
    font-size: 1.8em;
    color: #2F2E2E;
}

/* SAFETY */

.safety{
    background-image: url(images/provisions-bond.png);
    height: 369px;
    background-size: cover;
}

.safety h6{
    margin-bottom: 2px;
    margin-top: 24px;
    font-size: 20px;
    padding-left: 20px;
    color: #2F2E2E;
}

.safety p{
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 55px;
}

.safety h1{
    padding-top: 0px;
    padding-left: 20px;
    font-size: 1.8em;
    color: #2F2E2E;
}

/* CONTACT US */

.contact {
    background-color:#2F2E2E;
    color: white;
}

.contact h1{
    padding-left: 20px;
    padding-top: 20px;
}

.contact p{
    color: white;
    padding-left: 20px;
}

.icon {
    width: 175px; 
    height: 175px;
    text-align: center;
}

/* MOBILE CSS */

@media screen and (max-width: 1000px) {


    p {
        size:10px;
    }

    .title-main {
        position: auto;
        transform: translate(-50%, -55%);
        text-align: left;
    }

    .title-main h1 {
        color: white;
        font-size: 35px;
        text-align: left;
    }

    .title-main h2 {
        color: white;
        font-size: 20px;
        text-align: left;
    }
    
    .title-main p {
        color: #fff;
        font-size: 14px;
        line-height: 1.5;
        text-align: left;
    }

    .established {
        color: black;
        text-align: center;
    }
    
    .established p {
        size:12px;
        color:black;
    }

    .established h1{
        font-size: 22px;
    }

    .est {
        font-size: 18px;
        text-align: center;
    }
    
    .mission{
        height: 200px
    }


    .icon {
        height: 75px;
        width: 75px;
    }
    
    .excellence h1{
        size: 20px;
    }

    .mission-statement {
        color: black;
        text-align: center;
    }
    
    .mission-statement p{
        font-size: 18px;
    }

    .mission-statement h1{
        font-size: 26px;
    }

    .mission-2 {
        color: black;
        text-align: center;
    }
    
    .mission-2 p{
        font-size: 22px;
        padding-top: 5px;
    }

    .excellence {
        color: white;
        text-align: center;
        background-image: url("images/sea.jpg");
        background-size: cover;
        height: 20%;
        width: auto;
    }

    .strengths h1{
        font-size: 26px;
        margin-bottom: 1px;
    }

    .strengths p{
        font-size: 14px;
    }

    .prov {
        background-image: url(images/provisions.jpg);
        height: 25%;
        width: auto;
        background-size: cover;
        background-position:center;
        background-repeat:no-repeat;
        font-size: 18px;
    }

}


/* Built by Dillon Gonsalves */